/* Extra CSS for portfolio pages */

@media (min-width:1200px){
            .right, a.brand{margin-left:50px;}
            header{max-width:1150px;}
        }

@media (max-width:1080px){
            .container{grid-template-columns:1fr; padding:0;margin-left:0px;}
            body{padding:28px}
            /*.right{flex-direction:row;justify-content:space-between;align-items:center}*/
        }

@media (max-width: 768px) { /* iPad and smaller devices */

       .portrait img {display:none;}
       .left, .right {
        max-width:85vw;
       }
       .left img, .right img{max-width:100%;height:auto;}
        }

        @media (max-width: 768px) { /* iPad and smaller devices */

       .portrait img {display:none;}
       .left {
        max-width:95vw;
       }
       .right {display:flex; flex-direction:column; justify-content:space-between; align-items:center;}
       .right img {max-width:200px;}
        }